:root {
  --maincolor: #fba802;
  --seccolor: #ededed;
  --bgcolor: rgb(45, 45, 45);
  --card: rgb(103, 103, 103);
  --black: #262626;
}
* {
  margin: 0;
  padding: 0;
}
.container {
  display: flex;
  margin-top: 10px;
}
